html, body{
    height: 100%;
    
}

.container{
    height: fit-content;
    max-width: 720px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#datepicker{
    margin-left: 6px;
}